.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.about > h1 {
  padding-top: 5vh;
}

.about > p {
  margin-left: 5vw;
  margin-right: 5vw;
}