.navbar {
background-color: white;
display: flex;
flex-direction: column;
justify-content: center;
min-height: 12.5vh;
margin-bottom: 0;
}

.navbarMain {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  justify-content: space-evenly;
  font-size: 3vh;
}

.navbarBrand > h1 {
  margin-bottom: 0;
  font-family: monospace;
  text-align: center;
}

.navbarBrand > div {
  margin-top: -2vh;
  margin-bottom: 1vh;
  font-family: monospace;
}

.navbarBrand {
  display: flex;
  flex-direction: column;
}


.toggleMenu {
  padding: 0.5rem;
}

.navLinks {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  font-family: monospace;
  font-size: 2.5vh;
  margin: auto;
  color: black;
  padding-inline-start: 0px;
  border-radius: 1vh;
  z-index: 100;
}

.toggleBtn {
  background-color: white;
  border: none;
  font-size: 5vh;
}

.largeScreenMenu {
  display: none;
}

@media only screen and (min-width: 900px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbarMain {
    flex-direction: row;
    padding-left: 40px;
    justify-content: center;
  }
  
  .navbarBrand > h1 {
    padding-bottom: 0;
    margin: auto;
    font-family: monospace;
    font-size: 3.5vh;
    text-align: center;
  }
  
  .navbarBrand > div {
    margin: auto;
    font-family: monospace;
    font-size: 2vh;
  }
  
  .navbarBrand {
    display: flex;
    flex-direction: row;
  }

  .toggleBtn {
    display: none;
  }

  .toggleMenu {
    display: none;
  }

  .largeScreenMenu {
    display: flex;
    padding-right: 25px;
  }

  .navLinks {
    flex-direction: row;
    font-size: 2vh;
  }
  
  .navLinks > li {
    padding: 1vw;
  }

}

@media only screen and (min-width: 900px) and (max-width: 1050px){
  
  .navLinks > li {
    font-size: 1.5vh;
  }
  
}