
.cardSection {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5rem;
  max-width: 900px;
}

.flexCard {
  display: flex;
  align-items: flex-end;
  flex-basis: 100%;
  margin: .5rem;
  min-height: 300px;
  color: white;
  text-decoration: none;
  border: 4px solid rgb(150, 0, 30);
}

.flexCard div {
  background-color: rgb(150, 0, 30);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0.5em;
  border-radius: 15px;
}

.flexCard {
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
}

.flexCard:hover {
  box-shadow: inset 0 0 0 rgb(150, 0, 30), 0 0 20px rgba(150, 0, 30, 1);
}

.flexCard h3 {
  font-size: 20px;
}

.flexCard p {
  font-size: 15px;
}

.project1 {
  display: flex;
  background-image: url(./assets/images/animaletics-screenshot.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.project2 {
  background-image: url(./assets/images/example-team-profile.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.project3 {
  background-image: url(./assets/images/readme-app.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.project4 {
  background-image: url(./assets/images/daily-planner.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.project5 {
  background-image: url(./assets/images/coding-quiz.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 900px) {
  
  .flexCard:first-child {
    flex-basis: 97%;
  }

  .flexCard {
    flex-basis: 47%;
  }

}